<ul>
    <li>To learn more about the SQL API: <a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-introduction" target="_blank">https://docs.microsoft.com/azure/cosmos-db/sql-api-introduction</a></li>
    <li>To learn about the SQL Syntax: <a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-sql-query-reference" target="_blank">https://docs.microsoft.com/azure/cosmos-db/sql-api-sql-query-reference</a></li>
    <li>To learn about programming using JavaScript in the SQL API: <a href="https://docs.microsoft.com/azure/cosmos-db/programming" target="_blank">https://docs.microsoft.com/azure/cosmos-db/programming</a></li>
    <li>To learn more about the .NET SDK: <a href="https://docs.microsoft.com/azure/cosmos-db/tutorial-develop-sql-api-dotnet" target="_blank">https://docs.microsoft.com/azure/cosmos-db/tutorial-develop-sql-api-dotnet</a></li>
    <li>To learn more about the Java SDK: <a href="https://docs.microsoft.com/azure/cosmos-db/sql/sql-api-sdk-java-v4" target="_blank">https://docs.microsoft.com/azure/cosmos-db/sql/sql-api-sdk-java-v4</a></li>
</ul>
