---
layout: default
---

<body class="pb-4" data-spy="scroll" data-target="#linksMenu">
    {% include navigation.html %}
    <div class="cosmos-background hero-container container-fluid">
        <div class="hero-content container">
            <h1>{{page.title}}</h1>
        </div> 
    </div> 
    <div class="pb-4 container">
        <main class="row extra-padding">
            <aside class="col-sm-2">       
                <nav id="linksMenu" class="toc sticky-top">
                    <ul class="nav navbar-nav flex-column">
                    </ul>
                </nav>         
            </aside>
            <hr class="" />
            <article class="workshop col-sm-10 mb-5 pt-4">
                {{ content }}
            </article>
        </main>
    </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
        $(function() {
            $('article img').each(function() {
                var src = $(this).attr('src');
                $(this).wrap('<a href="' + src + '" target="_blank"></a>');
            });
            $('article > h2').each(function() {
                $('nav.toc > ul').append(
                    $('<li>')
                        .attr('class', 'nav-item')
                        .append(
                            $('<a>')
                                .attr('class', 'nav-link')
                                .text($(this).text())
                                .attr('href', '#' + $(this).attr('id'))
                        ) 
                );
            });
            $('[data-spy="scroll"]').each(function () {
                var $spy = $(this).scrollspy('refresh')
            });
            $('pre').each(function(index) {
                var generatedId = 'codeBlock' + index;
                var languageClass = $(this).children('code:first').attr('class').split(' ')[0];
                var language = languageClass == 'language-sh' ? 'shell' : 
                    languageClass == 'language-js' ? 'javascript' : 
                    languageClass == 'language-xml' ? 'xml' : 
                    languageClass == 'language-sql' ? 'sql' : 
                    languageClass == 'language-csharp' ? 'c#' : 'code';
                $(this).attr('id', generatedId);
                var header = $('<div/>', {
                  class: 'code-header mt-3 mb-0 bg-light d-flex justify-content-between border',
                }).append(
                    $('<span/>', {     
                        class: 'mx-2 text-muted text-capitalize font-weight-light',
                    html: language
                    })
                ).append(
                    $('<button/>', {   
                        class: 'm-0 btn btn-code btn-sm btn-light codeBtn rounded-0 border-left text-muted font-weight-light',
                    'data-clipboard-target': '#' + generatedId,
                    type: 'button'
                    }).append(
                    $('<i/>', {
                        class: 'fa fa-files-o mr-2',
                      'aria-hidden': 'true'
                    })
                  ).append(
                    'Copy'
                  )
                );
                header.insertBefore($(this));
                $(this).addClass('mt-0');
            });
            hljs.initHighlightingOnLoad();
            new ClipboardJS('.btn-code');
        });
    </script>
</body>
